# Set the email address that should be used to contact you if there is a problem with 
# your TLS certificates.
{
  email joefazee@gmail.com
}


http://ladiwork.com {
    reverse_proxy localhost:4000
    respond /debug/* "Not Permitted" 403
}